# DATABASE CONFIGURATION
POSTGRESS_DB=academy_db #localhost
POSTGRES_USER=postgres # n8n user
POSTGRES_PASSWORD=postgres # n8n password

# Separate databse for user verification (Admin panel + user forms)
USER_DB_DB=users_db 
USER_DB_USER=postgres
USER_DB_PASSWORD=postgres

# n8n configuration
N8N_BASIC_AUTH_ACTIVE=true #Don't change unless you know what you're doing
N8N_BASIC_AUTH_USER=Admin
N8N_BASIC_AUTH_PASSWORD=admin
N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http # Not https as the connection is local 
WEBHOOK_URL=http://localhost:5678/

# REDIS
REDIS_HOST=REDIS
REDIS_PORT=6379

#OPENAI
OPENAI_API_KEY=<your-hatgpt-api-key>

#TELEGRAM
TELEGRAM_BOT_TOKEN=<your-telegram-bot-token>

#EMAIL
EMAIL_SMTP_HOST=smtp.example.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=notifications@academy.com
EMAIL_SMTP_PASS=<email-password>
EMAIL_FROM=notifications@academy.com

#RAG CONFIGURATION
RAG_CONTEXT_PATH=./rag/rag_context.txt


